<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/screen.css">
    <title>Lavendar and Oak</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
</head>
<body>
    <!-- Header - L&O Logo-->
    {include header/logo.html}

    <!-- Product Areas -->
    {include product/rinse.html}
    {include product/cleanse.html}
    {include product/leavein.html}

    <!-- Upsell - Buy All 3! -->
    {include promo/combo-buy.html}
</body>
</html>