/* Custom CSS Declarations go here */
body {
  background: #f0f0f0;
  font-family: "Helvetica Neue", Helvetica, Arieal, sans-serif;
  color: #444444;
}

.container {
  width: 994px; /* Dribbble uses a custom 994px grid */
}

/* Main Navigation styling */
header {
  background: #333;
  padding: 1px 0 7px 0;
}

header ul {
}

header ul li {
  float: left;
  padding: 0 15px 0 0;
}

header a {
  color: #aaa;
  font-size: 13px;
  line-height: 12px;
  text-decoration: none;
}

/* Selected Nav Item */
header .selected a {
  color: #fff;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.35);
  padding: 6px 10px 7px 10px;

  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* End Selected Nav Item */

#logo {
  float: left;
  width: 100px;
  height: 26px;
  transition: opacity 0.2s ease;
  margin: -4px 20px 0 5px;
}
/* End Main Navigation styling */

.promo {
  /* Promo box for Homepage */
  background: rgba(0, 0, 0, 0.07);
  
  /* Rounded corners on bottom, angles on top */
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}