/* Variables Partial  - contains colors, fonts, etc. */

/* Text Colors */
$text-light: #FFF;  // Light text for use on dark backgrounds
$text-dark: #000;   // Dark text for use on light backgrounds

/* Link Colors */
$primary: #AAA;
$secondary: #BBB;

/* Background Colors */
$bg: #5F4F5A;	// Main site BG

// Variations for each content area 
$bg-cleanse: #FFF;		// Cleanse Product
$bg-rinse: #CCC;		// Rinse Product
$bg-leavein: #AAA;		// Leave-In Product

$bg-promo: #FFF;	// Promo Box

$bg-about: #CCC;		// About Us