/* Base CSS file  - compiles all imports below into screen.css */

@import "compass/reset";	// CSS Style Reset

/* Custom Partials */
@import "_variables.scss";	// Variables: Color, size, etc.

@import "_base.scss";       // Body, text styles
@import "_header.scss";     // Header area of page (logo, etc)
@import "_content.scss";    // Content area - Contains styles for each product box
@import "_promo.scss";      // Promo area - Contains style for promotional products and combo buys